@charset "utf-8";

:root {

  .el-button--primary {
    --el-button-bg-color: var(--el-color-primary) !important;
    --el-button-border-color: var(--el-color-primary) !important;
    --el-button-hover-bg-color: var(--el-color-primary) !important;
    --el-button-hover-border-color: var(--el-color-primary) !important;
    --el-button-active-bg-color: var(--el-color-primary) !important;
    --el-button-active-border-color: var(--el-color-primary) !important;
  }

/* Transition
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-all-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
--el-fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
--el-fade-linear-transition: opacity 200ms linear;
--el-md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
  opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
--el-border-transition-base: border-color 0.2s
  cubic-bezier(0.645, 0.045, 0.355, 1);
--el-color-transition-base: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

/* Color
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color|1|Brand Color|0
--el-color-primary: #456795;
/// color|1|Background Color|4
--el-color-white: #fff;
/// color|1|Background Color|4
--el-color-black: #000;
--el-color-primary-light-1: mix(--el-color-white, --el-color-primary, 10%);

/* 53a8ff */
--el-color-primary-light-2: mix(--el-color-white, --el-color-primary, 20%);

/* 66b1ff */
--el-color-primary-light-3: mix(--el-color-white, --el-color-primary, 30%);

/* 79bbff */
--el-color-primary-light-4: mix(--el-color-white, --el-color-primary, 40%);

/* 8cc5ff */
--el-color-primary-light-5: mix(--el-color-white, --el-color-primary, 50%);

/* a0cfff */
--el-color-primary-light-6: mix(--el-color-white, --el-color-primary, 60%);

/* b3d8ff */
--el-color-primary-light-7: mix(--el-color-white, --el-color-primary, 70%);

/* c6e2ff */
--el-color-primary-light-8: mix(--el-color-white, --el-color-primary, 80%);

/* d9ecff */
--el-color-primary-light-9: mix(--el-color-white, --el-color-primary, 90%);

/* ecf5ff */
/// color|1|Functional Color|1
--el-color-success: #47ba80;
/// color|1|Functional Color|1
--el-color-warning: #fac858;
/// color|1|Functional Color|1
--el-color-danger: #f34d37;
/// color|1|Functional Color|1
--el-color-info: #909399;

--el-color-success-light: mix(--el-color-white, --el-color-success, 80%);
--el-color-warning-light: mix(--el-color-white, --el-color-warning, 80%);
--el-color-danger-light: mix(--el-color-white, --el-color-danger, 80%);
--el-color-info-light: mix(--el-color-white, --el-color-info, 80%);

--el-color-success-lighter: mix(--el-color-white, --el-color-success, 90%);
--el-color-warning-lighter: mix(--el-color-white, --el-color-warning, 90%);
--el-color-danger-lighter: mix(--el-color-white, --el-color-danger, 90%);
--el-color-info-lighter: mix(--el-color-white, --el-color-info, 90%);
/// color|1|Font Color|2
--el-color-text-primary: #303133;
/// color|1|Font Color|2
--el-color-text-regular: #606266;
/// color|1|Font Color|2
--el-color-text-secondary: #909399;
/// color|1|Font Color|2
--el-color-text-placeholder: #c0c4cc;
/// color|1|Border Color|3
--el-border-color-base: #dcdfe6;
/// color|1|Border Color|3
--el-border-color-light: #e4e7ed;
/// color|1|Border Color|3
--el-border-color-lighter: #ebeef5;
/// color|1|Border Color|3
--el-border-color-extra-light: #f2f6fc;

// Background
/// color|1|Background Color|4
--el-background-color-base: #f5f7fa;

/* Link
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-link-color: --el-color-primary-light-2;
--el-link-hover-color: --el-color-primary;

/* Border
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-border-width-base: 1px;
--el-border-style-base: solid;
// --el-border-color-hover: --el-color-text-placeholder;
--el-border-base: --el-border-width-base --el-border-style-base --el-border-color-base;
/// borderRadius|1|Radius|0
--el-border-radius-base: 2px;
/// borderRadius|1|Radius|0
--el-border-radius-small: 2px;
/// borderRadius|1|Radius|0
--el-border-radius-circle: 100%;
/// borderRadius|1|Radius|0
--el-border-radius-zero: 0;

// Box-shadow
/// boxShadow|1|Shadow|1
--el-box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
// boxShadow|1|Shadow|1
--el-box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
/// boxShadow|1|Shadow|1
--el-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

/* Fill
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-fill-base: --el-color-white;

/* Typography
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-font-path: "~element-plus/theme-chalk/fonts";
--el-font-display: "auto";
/// fontSize|1|Font Size|0
--el-font-size-extra-large: 20px;
/// fontSize|1|Font Size|0
--el-font-size-large: 18px;
/// fontSize|1|Font Size|0
--el-font-size-medium: 16px;
/// fontSize|1|Font Size|0
--el-font-size-base: 14px;
/// fontSize|1|Font Size|0
--el-font-size-small: 13px;
/// fontSize|1|Font Size|0
--el-font-size-extra-small: 12px;
/// fontWeight|1|Font Weight|1
--el-font-weight-primary: 500;
/// fontWeight|1|Font Weight|1
--el-font-weight-secondary: 100;
/// fontLineHeight|1|Line Height|2
--el-font-line-height-primary: 24px;
/// fontLineHeight|1|Line Height|2
--el-font-line-height-secondary: 16px;
--el-font-color-disabled-base: #bbb;

/* Size
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-size-base: 14px;

/* z-index
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-index-normal: 1;
--el-index-top: 1000;
--el-index-popper: 2000;

/* Disable base
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-disabled-fill-base: --el-background-color-base;
--el-disabled-color-base: --el-color-text-placeholder;
--el-disabled-border-base: --el-border-color-light;

/* Icon
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-icon-color: #666;
--el-icon-color-base: --el-color-info;

/* Checkbox
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// fontSize||Font|1
--el-checkbox-font-size: 14px;
/// fontWeight||Font|1
--el-checkbox-font-weight: --el-font-weight-primary;
/// color||Color|0
--el-checkbox-font-color: --el-color-text-regular;
--el-checkbox-input-height: 14px;
--el-checkbox-input-width: 14px;
/// borderRadius||Border|2
--el-checkbox-border-radius: --el-border-radius-small;
/// color||Color|0
--el-checkbox-background-color: --el-color-white;
--el-checkbox-input-border: --el-border-base;

/// color||Color|0
--el-checkbox-disabled-border-color: --el-border-color-base;
--el-checkbox-disabled-input-fill: #edf2fc;
--el-checkbox-disabled-icon-color: --el-color-text-placeholder;

--el-checkbox-disabled-checked-input-fill: --el-border-color-extra-light;
--el-checkbox-disabled-checked-input-border-color: --el-border-color-base;
--el-checkbox-disabled-checked-icon-color: --el-color-text-placeholder;

/// color||Color|0
--el-checkbox-checked-font-color: --el-color-primary;
--el-checkbox-checked-input-border-color: --el-color-primary;
/// color||Color|0
--el-checkbox-checked-background-color: --el-color-primary;
--el-checkbox-checked-icon-color: --el-fill-base;

--el-checkbox-input-border-color-hover: --el-color-primary;
/// height||Other|4
--el-checkbox-bordered-height: 40px;
/// padding||Spacing|3
--el-checkbox-bordered-padding: 9px 20px 9px 10px;
/// padding||Spacing|3
--el-checkbox-bordered-medium-padding: 7px 20px 7px 10px;
/// padding||Spacing|3
--el-checkbox-bordered-small-padding: 5px 15px 5px 10px;
/// padding||Spacing|3
--el-checkbox-bordered-mini-padding: 3px 15px 3px 10px;
--el-checkbox-bordered-medium-input-height: 14px;
--el-checkbox-bordered-medium-input-width: 14px;
/// height||Other|4
--el-checkbox-bordered-medium-height: 36px;
--el-checkbox-bordered-small-input-height: 12px;
--el-checkbox-bordered-small-input-width: 12px;
/// height||Other|4
--el-checkbox-bordered-small-height: 32px;
--el-checkbox-bordered-mini-input-height: 12px;
--el-checkbox-bordered-mini-input-width: 12px;
/// height||Other|4
--el-checkbox-bordered-mini-height: 28px;

/// color||Color|0
--el-checkbox-button-checked-background-color: --el-color-primary;
/// color||Color|0
--el-checkbox-button-checked-font-color: --el-color-white;
/// color||Color|0
--el-checkbox-button-checked-border-color: --el-color-primary;

/* Radio
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// fontSize||Font|1
--el-radio-font-size: --el-font-size-base;
/// fontWeight||Font|1
--el-radio-font-weight: --el-font-weight-primary;
/// color||Color|0
--el-radio-font-color: --el-color-text-regular;
--el-radio-input-height: 14px;
--el-radio-input-width: 14px;
/// borderRadius||Border|2
--el-radio-input-border-radius: --el-border-radius-circle;
/// color||Color|0
--el-radio-input-background-color: --el-color-white;
--el-radio-input-border: --el-border-base;
/// color||Color|0
--el-radio-input-border-color: --el-border-color-base;
/// color||Color|0
--el-radio-icon-color: --el-color-white;

--el-radio-disabled-input-border-color: --el-disabled-border-base;
--el-radio-disabled-input-fill: --el-disabled-fill-base;
--el-radio-disabled-icon-color: --el-disabled-fill-base;

--el-radio-disabled-checked-input-border-color: --el-disabled-border-base;
--el-radio-disabled-checked-input-fill: --el-disabled-fill-base;
--el-radio-disabled-checked-icon-color: --el-color-text-placeholder;

/// color||Color|0
--el-radio-checked-font-color: --el-color-primary;
/// color||Color|0
--el-radio-checked-input-border-color: --el-color-primary;
/// color||Color|0
--el-radio-checked-input-background-color: --el-color-white;
/// color||Color|0
--el-radio-checked-icon-color: --el-color-primary;

--el-radio-input-border-color-hover: --el-color-primary;

--el-radio-bordered-height: 40px;
--el-radio-bordered-padding: 12px 20px 0 10px;
--el-radio-bordered-medium-padding: 10px 20px 0 10px;
--el-radio-bordered-small-padding: 8px 15px 0 10px;
--el-radio-bordered-mini-padding: 6px 15px 0 10px;
--el-radio-bordered-medium-input-height: 14px;
--el-radio-bordered-medium-input-width: 14px;
--el-radio-bordered-medium-height: 36px;
--el-radio-bordered-small-input-height: 12px;
--el-radio-bordered-small-input-width: 12px;
--el-radio-bordered-small-height: 32px;
--el-radio-bordered-mini-input-height: 12px;
--el-radio-bordered-mini-input-width: 12px;
--el-radio-bordered-mini-height: 28px;

/// fontSize||Font|1
--el-radio-button-font-size: --el-font-size-base;
/// color||Color|0
--el-radio-button-checked-background-color: --el-color-primary;
/// color||Color|0
--el-radio-button-checked-font-color: --el-color-white;
/// color||Color|0
--el-radio-button-checked-border-color: --el-color-primary;
--el-radio-button-disabled-checked-fill: --el-border-color-extra-light;

/* Select
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-select-border-color-hover: --el-border-color-hover;
--el-select-disabled-border: --el-disabled-border-base;
/// fontSize||Font|1
--el-select-font-size: --el-font-size-base;
--el-select-close-hover-color: --el-color-text-secondary;

--el-select-input-color: --el-color-text-placeholder;
--el-select-multiple-input-color: #666;
/// color||Color|0
--el-select-input-focus-border-color: --el-color-primary;
/// fontSize||Font|1
--el-select-input-font-size: 14px;

--el-select-option-color: --el-color-text-regular;
--el-select-option-disabled-color: --el-color-text-placeholder;
--el-select-option-disabled-background: --el-color-white;
/// height||Other|4
--el-select-option-height: 34px;
--el-select-option-hover-background: --el-background-color-base;
/// color||Color|0
--el-select-option-selected-font-color: --el-color-primary;
--el-select-option-selected-hover: --el-background-color-base;

--el-select-group-color: --el-color-info;
--el-select-group-height: 30px;
--el-select-group-font-size: 12px;

--el-select-dropdown-background: --el-color-white;
--el-select-dropdown-shadow: --el-box-shadow-light;
--el-select-dropdown-empty-color: #999;
/// height||Other|4
--el-select-dropdown-max-height: 274px;
--el-select-dropdown-padding: 6px 0;
--el-select-dropdown-empty-padding: 10px 0;
--el-select-dropdown-border: solid 1px --el-border-color-light;

/* Alert
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-alert-padding: 8px 16px;
/// borderRadius||Border|2
--el-alert-border-radius: --el-border-radius-base;
/// fontSize||Font|1
--el-alert-title-font-size: 13px;
/// fontSize||Font|1
--el-alert-description-font-size: 12px;
/// fontSize||Font|1
--el-alert-close-font-size: 12px;
/// fontSize||Font|1
--el-alert-close-customed-font-size: 13px;

--el-alert-success-color: --el-color-success-lighter;
--el-alert-info-color: --el-color-info-lighter;
--el-alert-warning-color: --el-color-warning-lighter;
--el-alert-danger-color: --el-color-danger-lighter;

/// height||Other|4
--el-alert-icon-size: 16px;
/// height||Other|4
--el-alert-icon-large-size: 28px;

/* MessageBox
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-messagebox-title-color: --el-color-text-primary;
--el-msgbox-width: 420px;
--el-msgbox-border-radius: --el-border-radius-base;
/// fontSize||Font|1
--el-messagebox-font-size: --el-font-size-large;
/// fontSize||Font|1
--el-messagebox-content-font-size: --el-font-size-base;
/// color||Color|0
--el-messagebox-content-color: --el-color-text-regular;
/// fontSize||Font|1
--el-messagebox-error-font-size: 12px;
--el-msgbox-padding-primary: 15px;
/// color||Color|0
--el-messagebox-success-color: --el-color-success;
/// color||Color|0
--el-messagebox-info-color: --el-color-info;
/// color||Color|0
--el-messagebox-warning-color: --el-color-warning;
/// color||Color|0
--el-messagebox-danger-color: --el-color-danger;

/* Message
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-message-shadow: --el-box-shadow-base;
--el-message-min-width: 380px;
--el-message-background-color: #edf2fc;
--el-message-padding: 15px 15px 15px 20px;
/// color||Color|0
--el-message-close-icon-color: --el-color-text-placeholder;
/// height||Other|4
--el-message-close-size: 16px;
/// color||Color|0
--el-message-close-hover-color: --el-color-text-secondary;

/// color||Color|0
--el-message-success-font-color: --el-color-success;
/// color||Color|0
--el-message-info-font-color: --el-color-info;
/// color||Color|0
--el-message-warning-font-color: --el-color-warning;
/// color||Color|0
--el-message-danger-font-color: --el-color-danger;

/* Notification
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-notification-width: 330px;
/// padding||Spacing|3
--el-notification-padding: 14px 26px 14px 13px;
--el-notification-radius: 8px;
--el-notification-shadow: --el-box-shadow-light;
/// color||Color|0
--el-notification-border-color: --el-border-color-lighter;
--el-notification-icon-size: 24px;
--el-notification-close-font-size: --el-message-close-size;
--el-notification-group-margin-left: 13px;
--el-notification-group-margin-right: 8px;
/// fontSize||Font|1
--el-notification-content-font-size: --el-font-size-base;
/// color||Color|0
--el-notification-content-color: --el-color-text-regular;
/// fontSize||Font|1
--el-notification-title-font-size: 16px;
/// color||Color|0
--el-notification-title-color: --el-color-text-primary;

/// color||Color|0
--el-notification-close-color: --el-color-text-secondary;
/// color||Color|0
--el-notification-close-hover-color: --el-color-text-regular;

/// color||Color|0
--el-notification-success-icon-color: --el-color-success;
/// color||Color|0
--el-notification-info-icon-color: --el-color-info;
/// color||Color|0
--el-notification-warning-icon-color: --el-color-warning;
/// color||Color|0
--el-notification-danger-icon-color: --el-color-danger;

/* Input
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-input-font-size: --el-font-size-base;
/// color||Color|0
--el-input-font-color: --el-color-text-regular;
/// height||Other|4
--el-input-width: 140px;
/// height||Other|4
--el-input-height: 40px;
--el-input-border: --el-border-base;
--el-input-border-color: --el-border-color-base;
/// borderRadius||Border|2
--el-input-border-radius: --el-border-radius-base;
--el-input-border-color-hover: --el-border-color-hover;
/// color||Color|0
--el-input-background-color: --el-color-white;
--el-input-fill-disabled: --el-disabled-fill-base;
--el-input-color-disabled: --el-font-color-disabled-base;
/// color||Color|0
--el-input-icon-color: --el-color-text-placeholder;
/// color||Color|0
--el-input-placeholder-color: --el-color-text-placeholder;
--el-input-max-width: 314px;

--el-input-hover-border: --el-border-color-hover;
--el-input-clear-hover-color: --el-color-text-secondary;

--el-input-focus-border: --el-color-primary;
--el-input-focus-fill: --el-color-white;

--el-input-disabled-fill: --el-disabled-fill-base;
--el-input-disabled-border: --el-disabled-border-base;
--el-input-disabled-color: --el-disabled-color-base;
--el-input-disabled-placeholder-color: --el-color-text-placeholder;

/// fontSize||Font|1
--el-input-medium-font-size: 14px;
/// height||Other|4
--el-input-medium-height: 36px;
/// fontSize||Font|1
--el-input-small-font-size: 13px;
/// height||Other|4
--el-input-small-height: 32px;
/// fontSize||Font|1
--el-input-mini-font-size: 12px;
/// height||Other|4
--el-input-mini-height: 28px;

/* Cascader
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-cascader-menu-font-color: --el-color-text-regular;
/// color||Color|0
--el-cascader-menu-selected-font-color: --el-color-primary;
--el-cascader-menu-fill: --el-fill-base;
--el-cascader-menu-font-size: --el-font-size-base;
--el-cascader-menu-radius: --el-border-radius-base;
--el-cascader-menu-border: solid 1px --el-border-color-light;
--el-cascader-menu-shadow: --el-box-shadow-light;
--el-cascader-node-background-hover: --el-background-color-base;
--el-cascader-node-color-disabled: --el-color-text-placeholder;
--el-cascader-color-empty: --el-color-text-placeholder;
--el-cascader-tag-background: #f0f2f5;

/* Group
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-group-option-flex: 0 0 calc(1/5) * 100%;
--el-group-option-offset-bottom: 12px;
--el-group-option-fill-hover: rgba(--el-color-black, 0.06);
--el-group-title-color: --el-color-black;
--el-group-title-font-size: --el-font-size-base;
--el-group-title-width: 66px;

/* Tab
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-tab-font-size: --el-font-size-base;
--el-tab-border-line: 1px solid #e4e4e4;
--el-tab-header-color-active: --el-color-text-secondary;
--el-tab-header-color-hover: --el-color-text-regular;
--el-tab-header-color: --el-color-text-regular;
--el-tab-header-fill-active: rgba(--el-color-black, 0.06);
--el-tab-header-fill-hover: rgba(--el-color-black, 0.06);
--el-tab-vertical-header-width: 90px;
--el-tab-vertical-header-count-color: --el-color-white;
--el-tab-vertical-header-count-fill: --el-color-text-secondary;

/* Button
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// fontSize||Font|1
--el-button-font-size: --el-font-size-base;
/// fontWeight||Font|1
--el-button-font-weight: --el-font-weight-primary;
/// borderRadius||Border|2
--el-button-border-radius: --el-border-radius-base;
/// padding||Spacing|3
--el-button-padding-vertical: 12px;
/// padding||Spacing|3
--el-button-padding-horizontal: 20px;

/// fontSize||Font|1
--el-button-medium-font-size: --el-font-size-base;
/// borderRadius||Border|2
--el-button-medium-border-radius: --el-border-radius-base;
/// padding||Spacing|3
--el-button-medium-padding-vertical: 10px;
/// padding||Spacing|3
--el-button-medium-padding-horizontal: 20px;

/// fontSize||Font|1
--el-button-small-font-size: 12px;
--el-button-small-border-radius: --el-border-radius-base;
/// padding||Spacing|3
--el-button-small-padding-vertical: 7px;
/// padding||Spacing|3
--el-button-small-padding-horizontal: 14px;
/// fontSize||Font|1
--el-button-mini-font-size: 12px;
--el-button-mini-border-radius: --el-border-radius-base;
/// padding||Spacing|3
--el-button-mini-padding-vertical: 7px;
/// padding||Spacing|3
--el-button-mini-padding-horizontal: 15px;

/// color||Color|0
--el-button-default-font-color: --el-color-text-regular;
/// color||Color|0
--el-button-default-background-color: --el-color-white;
/// color||Color|0
--el-button-default-border-color: --el-border-color-base;

/// color||Color|0
--el-button-disabled-font-color: --el-color-text-placeholder;
/// color||Color|0
--el-button-disabled-background-color: --el-color-white;
/// color||Color|0
--el-button-disabled-border-color: --el-border-color-lighter;

/// color||Color|0
--el-button-primary-border-color: --el-color-primary;
/// color||Color|0
--el-button-primary-font-color: --el-color-white;
/// color||Color|0
--el-button-primary-background-color: --el-color-primary;
/// color||Color|0
--el-button-success-border-color: --el-color-success;
/// color||Color|0
--el-button-success-font-color: --el-color-white;
/// color||Color|0
--el-button-success-background-color: --el-color-success;
/// color||Color|0
--el-button-warning-border-color: --el-color-warning;
/// color||Color|0
--el-button-warning-font-color: --el-color-white;
/// color||Color|0
--el-button-warning-background-color: --el-color-warning;
/// color||Color|0
--el-button-danger-border-color: --el-color-danger;
/// color||Color|0
--el-button-danger-font-color: --el-color-white;
/// color||Color|0
--el-button-danger-background-color: --el-color-danger;
/// color||Color|0
--el-button-info-border-color: --el-color-info;
/// color||Color|0
--el-button-info-font-color: --el-color-white;
/// color||Color|0
--el-button-info-background-color: --el-color-info;

--el-button-hover-tint-percent: 20%;
--el-button-active-shade-percent: 10%;

/* cascader
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-cascader-height: 200px;

/* Switch
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-switch-on-color: --el-color-primary;
/// color||Color|0
--el-switch-off-color: --el-border-color-base;
/// fontSize||Font|1
--el-switch-font-size: --el-font-size-base;
--el-switch-core-border-radius: 10px;
// height||Other|4 TODO: width 代码写死的40px 所以下面这三个属性都没意义
--el-switch-width: 40px;
// height||Other|4
--el-switch-height: 20px;
// height||Other|4
--el-switch-button-size: 16px;

/* Dialog
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-dialog-background-color: --el-color-white;
--el-dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
/// fontSize||Font|1
--el-dialog-title-font-size: --el-font-size-large;
/// fontSize||Font|1
--el-dialog-content-font-size: 14px;
/// fontLineHeight||LineHeight|2
--el-dialog-font-line-height: --el-font-line-height-primary;
/// padding||Spacing|3
--el-dialog-padding-primary: 20px;

/* Table
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-table-border-color: --el-border-color-lighter;
--el-table-border: 1px solid --el-table-border-color;
/// color||Color|0
--el-table-font-color: --el-color-text-regular;
/// color||Color|0
--el-table-header-font-color: --el-color-text-secondary;
/// color||Color|0
--el-table-row-hover-background-color: --el-background-color-base;
--el-table-current-row-background-color: --el-color-primary-light-9;
/// color||Color|0
--el-table-header-background-color: --el-color-white;
--el-table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);

/* Pagination
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// fontSize||Font|1
--el-pagination-font-size: 13px;
/// color||Color|0
--el-pagination-background-color: --el-color-white;
/// color||Color|0
--el-pagination-font-color: --el-color-text-primary;
--el-pagination-border-radius: --el-border-radius-base;
/// color||Color|0
--el-pagination-button-color: --el-color-text-primary;
/// height||Other|4
--el-pagination-button-width: 35.5px;
/// height||Other|4
--el-pagination-button-height: 28px;
/// color||Color|0
--el-pagination-button-disabled-color: --el-color-text-placeholder;
/// color||Color|0
--el-pagination-button-disabled-background-color: --el-color-white;
/// color||Color|0
--el-pagination-hover-color: --el-color-primary;

/* Popup
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-popup-modal-background-color: --el-color-black;
/// opacity||Other|1
--el-popup-modal-opacity: 0.5;

/* Popover
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-popover-background-color: --el-color-white;
/// fontSize||Font|1
--el-popover-font-size: --el-font-size-base;
/// color||Color|0
--el-popover-border-color: --el-border-color-lighter;
--el-popover-arrow-size: 6px;
/// padding||Spacing|3
--el-popover-padding: 12px;
--el-popover-padding-large: 18px 20px;
/// fontSize||Font|1
--el-popover-title-font-size: 16px;
/// color||Color|0
--el-popover-title-font-color: --el-color-text-primary;

/* Tooltip
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color|1|Color|0
--el-tooltip-fill: --el-color-text-primary;
/// color|1|Color|0
--el-tooltip-color: --el-color-white;
/// fontSize||Font|1
--el-tooltip-font-size: 12px;
/// color||Color|0
--el-tooltip-border-color: --el-color-text-primary;
--el-tooltip-arrow-size: 6px;
/// padding||Spacing|3
--el-tooltip-padding: 10px;

/* Tag
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-tag-info-color: --el-color-info;
/// color||Color|0
--el-tag-primary-color: --el-color-primary;
/// color||Color|0
--el-tag-success-color: --el-color-success;
/// color||Color|0
--el-tag-warning-color: --el-color-warning;
/// color||Color|0
--el-tag-danger-color: --el-color-danger;
/// fontSize||Font|1
--el-tag-font-size: 12px;
--el-tag-border-radius: --el-border-radius-base;
--el-tag-padding: 0 10px;

/* Tree
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-tree-node-hover-background-color: --el-background-color-base;
/// color||Color|0
--el-tree-font-color: --el-color-text-regular;
/// color||Color|0
--el-tree-expand-icon-color: --el-color-text-placeholder;

/* Dropdown
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-dropdown-menu-box-shadow: --el-box-shadow-light;
--el-dropdown-menuItem-hover-fill: --el-color-primary-light-9;
--el-dropdown-menuItem-hover-color: --el-link-color;

/* Badge
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-badge-background-color: --el-color-danger;
--el-badge-radius: 10px;
/// fontSize||Font|1
--el-badge-font-size: 12px;
/// padding||Spacing|3
--el-badge-padding: 6px;
/// height||Other|4
--el-badge-size: 18px;

/* Card
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-card-border-color: --el-border-color-lighter;
--el-card-border-radius: --el-border-radius-base;
/// padding||Spacing|3
--el-card-padding: 20px;

/* Slider
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-slider-main-background-color: --el-color-primary;
/// color||Color|0
--el-slider-runway-background-color: --el-border-color-light;
--el-slider-button-hover-color: mix(--el-color-primary, black, 97%);
--el-slider-stop-background-color: --el-color-white;
--el-slider-disable-color: --el-color-text-placeholder;
--el-slider-margin: 16px 0;
--el-slider-border-radius: --el-border-radius-base;
/// height|1|Other|4
--el-slider-height: 6px;
/// height||Other|4
--el-slider-button-size: 16px;
--el-slider-button-wrapper-size: 36px;
--el-slider-button-wrapper-offset: -15px;

/* Steps
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-steps-border-color: --el-disabled-border-base;
--el-steps-border-radius: --el-border-radius-base;
--el-steps-padding: 20px;

/* Menu
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// fontSize||Font|1
--el-menu-item-font-size: --el-font-size-base;
/// color||Color|0
--el-menu-item-font-color: --el-color-text-primary;
/// color||Color|0
--el-menu-background-color: --el-color-white;
--el-menu-item-hover-fill: --el-color-primary-light-9;

/* Rate
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-rate-height: 20px;
/// fontSize||Font|1
--el-rate-font-size: --el-font-size-base;
/// height||Other|3
--el-rate-icon-size: 18px;
/// margin||Spacing|2
--el-rate-icon-margin: 6px;
--el-rate-icon-color: --el-color-text-placeholder;

/* DatePicker
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-datepicker-font-color: --el-color-text-regular;
/// color|1|Color|0
--el-datepicker-off-font-color: --el-color-text-placeholder;
/// color||Color|0
--el-datepicker-header-font-color: --el-color-text-regular;
--el-datepicker-icon-color: --el-color-text-primary;
--el-datepicker-border-color: --el-disabled-border-base;
--el-datepicker-inner-border-color: #e4e4e4;
/// color||Color|0
--el-datepicker-inrange-background-color: --el-border-color-extra-light;
/// color||Color|0
--el-datepicker-inrange-hover-background-color: --el-border-color-extra-light;
/// color||Color|0
--el-datepicker-active-color: --el-color-primary;
/// color||Color|0
--el-datepicker-hover-font-color: --el-color-primary;
--el-datepicker-cell-hover-color: #fff;

/* Loading
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// height||Other|4
--el-loading-spinner-size: 42px;
/// height||Other|4
--el-loading-fullscreen-spinner-size: 50px;

/* Scrollbar
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-scrollbar-background-color: rgba(--el-color-text-secondary, 0.3);
--el-scrollbar-hover-background-color: rgba(--el-color-text-secondary, 0.5);

/* Carousel
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// fontSize||Font|1
--el-carousel-arrow-font-size: 12px;
--el-carousel-arrow-size: 36px;
--el-carousel-arrow-background: rgba(31, 45, 61, 0.11);
--el-carousel-arrow-hover-background: rgba(31, 45, 61, 0.23);
/// width||Other|4
--el-carousel-indicator-width: 30px;
/// height||Other|4
--el-carousel-indicator-height: 2px;
--el-carousel-indicator-padding-horizontal: 4px;
--el-carousel-indicator-padding-vertical: 12px;
--el-carousel-indicator-out-color: --el-border-color-hover;

/* Collapse
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-collapse-border-color: --el-border-color-lighter;
/// height||Other|4
--el-collapse-header-height: 48px;
/// color||Color|0
--el-collapse-header-background-color: --el-color-white;
/// color||Color|0
--el-collapse-header-font-color: --el-color-text-primary;
/// fontSize||Font|1
--el-collapse-header-font-size: 13px;
/// color||Color|0
--el-collapse-content-background-color: --el-color-white;
/// fontSize||Font|1
--el-collapse-content-font-size: 13px;
/// color||Color|0
--el-collapse-content-font-color: --el-color-text-primary;

/* Transfer
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-transfer-border-color: --el-border-color-lighter;
--el-transfer-border-radius: --el-border-radius-base;
/// height||Other|4
--el-transfer-panel-width: 200px;
/// height||Other|4
--el-transfer-panel-header-height: 40px;
/// color||Color|0
--el-transfer-panel-header-background-color: --el-background-color-base;
/// height||Other|4
--el-transfer-panel-footer-height: 40px;
/// height||Other|4
--el-transfer-panel-body-height: 246px;
/// height||Other|4
--el-transfer-item-height: 30px;
/// height||Other|4
--el-transfer-filter-height: 32px;

/* Header
  --el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-header-padding: 0 20px;

/* Footer
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-footer-padding: 0 20px;

/* Main
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-main-padding: 20px;

/* Timeline
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-timeline-node-size-normal: 12px;
--el-timeline-node-size-large: 14px;
--el-timeline-node-color: --el-border-color-light;

/* Backtop
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-backtop-background-color: --el-color-white;
/// color||Color|0
--el-backtop-font-color: --el-color-primary;
/// color||Color|0
--el-backtop-hover-background-color: --el-border-color-extra-light;

/* Link
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// fontSize||Font|1
--el-link-font-size: --el-font-size-base;
/// fontWeight||Font|1
--el-link-font-weight: --el-font-weight-primary;
/// color||Color|0
--el-link-default-font-color: --el-color-text-regular;
/// color||Color|0
--el-link-default-active-color: --el-color-primary;
/// color||Color|0
--el-link-disabled-font-color: --el-color-text-placeholder;
/// color||Color|0
--el-link-primary-font-color: --el-color-primary;
/// color||Color|0
--el-link-success-font-color: --el-color-success;
/// color||Color|0
--el-link-warning-font-color: --el-color-warning;
/// color||Color|0
--el-link-danger-font-color: --el-color-danger;
/// color||Color|0
--el-link-info-font-color: --el-color-info;

/* Calendar
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// border||Other|4
--el-calendar-border: --el-table-border;
/// color||Other|4
--el-calendar-selected-background-color: #f2f8fe;
--el-calendar-cell-width: 85px;

/* Form
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// fontSize||Font|1
--el-form-label-font-size: --el-font-size-base;

/* Avatar
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
/// color||Color|0
--el-avatar-font-color: #fff;
/// color||Color|0
--el-avatar-background-color: #c0c4cc;
/// fontSize||Font Size|1
--el-avatar-text-font-size: 14px;
/// fontSize||Font Size|1
--el-avatar-icon-font-size: 18px;
/// borderRadius||Border|2
--el-avatar-border-radius: --el-border-radius-base;
/// size|1|Avatar Size|3
--el-avatar-large-size: 40px;
/// size|1|Avatar Size|3
--el-avatar-medium-size: 36px;
/// size|1|Avatar Size|3
--el-avatar-small-size: 28px;

/* Break-point
--el---el---el---el---el---el---el---el---el---el---el---el---el- */
--el-sm: 768px;
--el-md: 992px;
--el-lg: 1200px;
--el-xl: 1920px;

--el-breakpoints: (
  "xs": (
    max-width: --el-sm - 1,
  ),
  "sm": (
    min-width: --el-sm,
  ),
  "md": (
    min-width: --el-md,
  ),
  "lg": (
    min-width: --el-lg,
  ),
  "xl": (
    min-width: --el-xl,
  ),
);

--el-breakpoints-spec: (
  "xs-only": (
    max-width: --el-sm - 1,
  ),
  "sm-and-up": (
    min-width: --el-sm,
  ),
  "sm-only": "(min-width: #{--el-sm}) and (max-width: #{--el-md - 1})",
  "sm-and-down": (
    max-width: --el-md - 1,
  ),
  "md-and-up": (
    min-width: --el-md,
  ),
  "md-only": "(min-width: #{--el-md}) and (max-width: #{--el-lg - 1})",
  "md-and-down": (
    max-width: --el-lg - 1,
  ),
  "lg-and-up": (
    min-width: --el-lg,
  ),
  "lg-only": "(min-width: #{--el-lg}) and (max-width: #{--el-xl - 1})",
  "lg-and-down": (
    max-width: --el-xl - 1,
  ),
  "xl-only": (
    min-width: --el-xl,
  ),
);
}




